micronaut:
  application:
    name: flightPub

  views:
    folder: views

  router:
    static-resources:
      default:
        enabled: true
        paths: classpath:static
    freemarker:
      enabled: true
      suffix: .ftl

netty:
  default:
    allocator:
      max-order: 3

datasources:
  default:
    dialect: SQL_SERVER
    db-type: mssql
    url: jdbc:sqlserver://localhost:1433;databaseName=flight_pub
    driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
    username: rubbish
    password: trash
